.cproject
.project
.vscode/
.settings/
*.simg
*.sif
sciduct/cache*/
sciduct/build.log
sciduct/job/
sciduct/input/
sciduct/bin/EpiHiper
src/git-commit.h
src/EpiHiperConfig.h

tools/2019-nCoV_vax

*.log
build

example/output.csv

example/stateTransistions.csv

example/status.json

docs/_build/
