[submodule "dependencies/jansson"]
	path = dependencies/jansson
	url = git@github.com:akheron/jansson.git
[submodule "dependencies/libpqxx"]
	path = dependencies/libpqxx
	url = git@github.com:jtv/libpqxx.git
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "tools/2019-nCoV_vax"]
	path = tools/2019-nCoV_vax
	url = git@github.com:NSSAC/2019-nCoV_vax.git
